{% extends "account/base.html" %}
{% load static %}

{% load i18n %}
{% block head_title %}{% trans "| Change Password" %}{% endblock head_title %}

{% block content %}
    <div class="background-container">
        <div class="container">
            <div class="row h-100 justify-content-center align-items-center">
                <div class="col-12 col-md-10 col-lg-8 form-margin text-center">
                    <h1 class="form-title">{% trans "Change Password" %}</h1>
                    <p style="color: #f4f4f4; font-size: 16px;">{% trans 'Your password is now changed.' %}. You can
                        <a href="{% url 'account_login' %}" class="auth-form-link">Login</a> now.
                    </p>
                </div>
            </div>
        </div>
    </div>

{% endblock %}