{% extends "account/base.html" %}
{% load static %}

{% load i18n %}
{% block head_title %}{% trans "| Change Password" %}{% endblock head_title %}

{% block content %}
    <div class="background-container">
        <div class="container">
            <div class="row h-100 justify-content-center align-items-center">
                <div class="col-10 col-md-8 col-lg-6 form-margin">
                    <h1 class="text-center form-title">{% trans "Change Password" %}</h1>
                    <p>{% trans 'Your password is now changed.' %}. You can
                        <a href="{% url 'account_login' %}">Login</a> now.
                    </p>
                </div>
            </div>
        </div>
    </div>

{% endblock %}