{% extends "account/base.html" %}
{% load static %}

{% load i18n %}
{% block head_title %}{% trans "| Change Password" %}{% endblock head_title %}

{% block content %}
    <div class="background-container">
        <div class="container">
            <div class="row h-100 justify-content-center align-items-center">
                <div class="col-10 col-md-8 col-lg-6 form-margin">
                    <h1 class="text-center form-title">{% if token_fail %}{% trans "Bad Token" %}{% else %}{% trans "Change Password" %}{% endif %}</h1>
                    {% if token_fail %}
                        {% url 'account_reset_password' as passwd_reset_url %}
                        <p>{% blocktrans %}The password reset link was invalid, possibly because it has already been used.  Please request a <a href="{{ passwd_reset_url }}">new password reset</a>.{% endblocktrans %}</p>
                    {% else %}
                    <form method="POST" action="{{ action_url }}" class="form auth__form">
                        {% csrf_token %}
                        <!-- Input:Password -->
                        <div class="form__field">
                            <label for="formInput#password">{{ form.password1.label }}</label>
                            {{ form.password1 }}
                        </div>
                        <!-- Input:Password -->
                        <div class="form__field">
                            <label for="formInput#confirm-password">{{ form.password2.label }}</label>
                            {{ form.password2 }}
                        </div>
                        <div class="auth__actions">
                            <input class="btn btn--sub btn--lg" type="submit" value="Submit" />
                        </div>
                    </form>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock content %}